{% extends 'basic.html' %}

{% block content %}

<div class="index-middlepart homeheight">
            {% comment %} Code for slider {% endcomment %}

        <div class="cod-apti-container">
            <div class="cod-container">
                <img src="static/coding.jpg" class="product-thumb" alt="">
            </div>
            <div class="apti-container">
                <img src="static/apptitude.jpg" class="product-thumb" alt="">
            </div>
        </div>

        <div class="product-outer-container">
        <section class="product">
                <h2 class="product-category">
                  Popular Coding
                </h2>
                <div class="button-center">
                <div class="button-left"><button class="pre-btn"><img src="static/angle-right.png" height=25px width=25px alt=""></button></div>
                    <div class="product-container">
                        <div class="product-card-l">
                            <div class="product-image">
                                {% comment %} <span class="discount-tag">50% off</span> {% endcomment %}
                                <img src="static/python.jpg" class="product-thumb" alt="">
                                {% comment %} <button class="card-btn">add to wishlist</button> {% endcomment %}
                            </div>
                            {% comment %} <div class="product-info">
                                <h2 class="product-brand">brand</h2>
                                <p class="product-short-description">a short line about the product</p>
                                <span class="price">$20</span><span class="actual-price">$40</span>
                            </div> {% endcomment %}
                        </div>
        
                <div class="product-card-l">
                    <div class="product-image">
                        {% comment %} <span class="discount-tag">50% off</span> {% endcomment %}
                        <img src="static/java.jpg" class="product-thumb" alt="">
                        {% comment %} <button class="card-btn">add to wishlist</button> {% endcomment %}
                    </div>
                    {% comment %} <div class="product-info">
                        <h2 class="product-brand">brand</h2>
                        <p class="product-short-description">a short line about the product</p>
                        <span class="price">$20</span><span class="actual-price">$40</span>
                    </div> {% endcomment %}
                </div>
        
                <div class="product-card-l">
                    <div class="product-image">
                        {% comment %} <span class="discount-tag">50% off</span> {% endcomment %}
                        <img src="static/c++.jpg" class="product-thumb" alt="">
                        {% comment %} <button class="card-btn">add to wishlist</button> {% endcomment %}
                    </div>
                    {% comment %} <div class="product-info">
                        <h2 class="product-brand">brand</h2>
                        <p class="product-short-description">a short line about the product</p>
                        <span class="price">$20</span><span class="actual-price">$40</span>
                    </div> {% endcomment %}
                </div>
        
                <div class="product-card-l">
                    <div class="product-image">
                        {% comment %} <span class="discount-tag">50% off</span> {% endcomment %}
                        <img src="static/nodejs.jpg" class="product-thumb" alt="">
                        {% comment %} <button class="card-btn">add to wishlist</button> {% endcomment %}
                    </div>
                    {% comment %} <div class="product-info">
                        <h2 class="product-brand">brand</h2>
                        <p class="product-short-description">a short line about the product</p>
                        <span class="price">$20</span><span class="actual-price">$40</span>
                    </div> {% endcomment %}
                </div>
            </div>
            <div class:"button-right"><button class="nxt-btn"><img src="static/angle-right.png" height=25px width=25px alt=""></button></div>
        </div>
        </section>


    <section class="product">
        <h2 class="product-category">
          Companies
        </h2>
        <div class="button-center">
        <div class="button-left"><button class="pre-btn"><img src="static/angle-right.png" height=25px width=25px alt=""></button></div>
            <div class="product-container">
                <div class="product-card">
                    <div class="product-image">
                        {% comment %} <span class="discount-tag">50% off</span> {% endcomment %}
                        <img src="static/cognizant.png" class="product-thumb" alt="">
                        {% comment %} <button class="card-btn">add to wishlist</button> {% endcomment %}
                    </div>
                    {% comment %} <div class="product-info">
                        <h2 class="product-brand">brand</h2>
                        <p class="product-short-description">a short line about the product</p>
                        <span class="price">$20</span><span class="actual-price">$40</span>
                    </div> {% endcomment %}
                </div>

        <div class="product-card">
            <div class="product-image">
                {% comment %} <span class="discount-tag">50% off</span> {% endcomment %}
                <img src="static/amazon.png" class="product-thumb" alt="">
                {% comment %} <button class="card-btn">add to wishlist</button> {% endcomment %}
            </div>
            {% comment %} <div class="product-info">
                <h2 class="product-brand">brand</h2>
                <p class="product-short-description">a short line about the product</p>
                <span class="price">$20</span><span class="actual-price">$40</span>
            </div> {% endcomment %}
        </div>

        <div class="product-card">
            <div class="product-image">
                {% comment %} <span class="discount-tag">50% off</span> {% endcomment %}
                <img src="static/capgemini.png" class="product-thumb" alt="">
                {% comment %} <button class="card-btn">add to wishlist</button> {% endcomment %}
            </div>
            {% comment %} <div class="product-info">
                <h2 class="product-brand">brand</h2>
                <p class="product-short-description">a short line about the product</p>
                <span class="price">$20</span><span class="actual-price">$40</span>
            </div> {% endcomment %}
        </div>

        <div class="product-card">
            <div class="product-image">
                {% comment %} <span class="discount-tag">50% off</span> {% endcomment %}
                <img src="static/IBM.png" class="product-thumb" alt="">
                {% comment %} <button class="card-btn">add to wishlist</button> {% endcomment %}
            </div>
            {% comment %} <div class="product-info">
                <h2 class="product-brand">brand</h2>
                <p class="product-short-description">a short line about the product</p>
                <span class="price">$20</span><span class="actual-price">$40</span>
            </div> {% endcomment %}
        </div>

        <div class="product-card">
            <div class="product-image">
                {% comment %} <span class="discount-tag">50% off</span> {% endcomment %}
                <img src="static/accenture.png" class="product-thumb" alt="">
                {% comment %} <button class="card-btn">add to wishlist</button> {% endcomment %}
            </div>
            {% comment %} <div class="product-info">
                <h2 class="product-brand">brand</h2>
                <p class="product-short-description">a short line about the product</p>
                <span class="price">$20</span><span class="actual-price">$40</span>
            </div> {% endcomment %}
        </div>

        <div class="product-card">
            <div class="product-image">
                {% comment %} <span class="discount-tag">50% off</span> {% endcomment %}
                <img src="static/microsoft.png" class="product-thumb" alt="">
                {% comment %} <button class="card-btn">add to wishlist</button> {% endcomment %}
            </div>
            {% comment %} <div class="product-info">
                <h2 class="product-brand">brand</h2>
                <p class="product-short-description">a short line about the product</p>
                <span class="price">$20</span><span class="actual-price">$40</span>
            </div> {% endcomment %}
        </div>

        <div class="product-card">
            <div class="product-image">
                {% comment %} <span class="discount-tag">50% off</span> {% endcomment %}
                <img src="static/atos.png" class="product-thumb" alt="">
                {% comment %} <button class="card-btn">add to wishlist</button> {% endcomment %}
            </div>
            {% comment %} <div class="product-info">
                <h2 class="product-brand">brand</h2>
                <p class="product-short-description">a short line about the product</p>
                <span class="price">$20</span><span class="actual-price">$40</span>
            </div> {% endcomment %}
        </div>

        <div class="product-card">
            <div class="product-image">
                {% comment %} <span class="discount-tag">50% off</span> {% endcomment %}
                <img src="static/deloitte.png" class="product-thumb" alt="">
                {% comment %} <button class="card-btn">add to wishlist</button> {% endcomment %}
            </div>
            {% comment %} <div class="product-info">
                <h2 class="product-brand">brand</h2>
                <p class="product-short-description">a short line about the product</p>
                <span class="price">$20</span><span class="actual-price">$40</span>
            </div> {% endcomment %}
        </div>
    </div>
    <div class:"button-right"><button class="nxt-btn"><img src="static/angle-right.png" height=25px width=25px alt=""></button></div>
</div>
</section>

<section class="product">
    <h2 class="product-category">
      Tracks
    </h2>
    <div class="button-center">
    <div class="button-left"><button class="pre-btn"><img src="static/angle-right.png" height=25px width=25px alt=""></button></div>
        <div class="product-container">
            <div class="product-card">
                <div class="product-image-track1">
                    {% comment %} <span class="discount-tag">50% off</span> {% endcomment %}
                    <img src="static/track1.jpg" class="product-thumb-track1" alt="">
                    {% comment %} <button class="card-btn">add to wishlist</button> {% endcomment %}
                </div>
                {% comment %} <div class="product-info">
                    <h2 class="product-brand">brand</h2>
                    <p class="product-short-description">a short line about the product</p>
                    <span class="price">$20</span><span class="actual-price">$40</span>
                </div> {% endcomment %}
            </div>

    <div class="product-card">
        <div class="product-image">
            {% comment %} <span class="discount-tag">50% off</span> {% endcomment %}
            <img src="static/track2.jpg" class="product-thumb" alt="">
            {% comment %} <button class="card-btn">add to wishlist</button> {% endcomment %}
        </div>
        {% comment %} <div class="product-info">
            <h2 class="product-brand">brand</h2>
            <p class="product-short-description">a short line about the product</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
        </div> {% endcomment %}
    </div>

    <div class="product-card">
        <div class="product-image">
            {% comment %} <span class="discount-tag">50% off</span> {% endcomment %}
            <img src="static/track3.jpg" class="product-thumb" alt="">
            {% comment %} <button class="card-btn">add to wishlist</button> {% endcomment %}
        </div>
        {% comment %} <div class="product-info">
            <h2 class="product-brand">brand</h2>
            <p class="product-short-description">a short line about the product</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
        </div> {% endcomment %}
    </div>

    <div class="product-card">
        <div class="product-image">
            {% comment %} <span class="discount-tag">50% off</span> {% endcomment %}
            <img src="static/track4.jpg" class="product-thumb" alt="">
            {% comment %} <button class="card-btn">add to wishlist</button> {% endcomment %}
        </div>
        {% comment %} <div class="product-info">
            <h2 class="product-brand">brand</h2>
            <p class="product-short-description">a short line about the product</p>
            <span class="price">$20</span><span class="actual-price">$40</span>
        </div> {% endcomment %}
    </div>

    
</div>
<div class:"button-right"><button class="nxt-btn"><img src="static/angle-right.png" height=25px width=25px alt=""></button></div>
</div>
</section>
</div>
        </div>
        {% comment %} {% if messages %}
{% for message in messages %}
      <div class="alert alert-warning {{ message.tags }} alert-dismissible fade show my=0" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
{% endfor %}
{% endif %} {% endcomment %}

{% endblock %}

{% comment %} 
position: absolute
top: 123px
bottom:123px 
{% endcomment %}